<li class="module {{if mod.hasRun 'has-run' 'not-run'}} {{if mod.failed 'failed'}}">
  <h2>
    <a href="#" {{action "toggleExpand"}}><span class="arrow {{if isExpanded 'expanded'}}">&#10095;</span></a>
    <span class="module-title">{{mod.title}}</span>
    <span class="test-count">
      {{#if mod.tests.length}}
        ({{mod.tests.length}})
      {{/if}}
    </span>
  </h2>

  {{#if isExpanded}}
    <ol class="results-tests">
      {{#each mod.tests as |test|}}
        {{test-results test=test}}
      {{/each}}
    </ol>
  {{/if}}
</li>