<li class="test {{if test.failed 'failed'}}">
  <h4>
    {{#if test.assertions.length}}
      <a href="#" {{action "toggleExpand"}}><span class="arrow arrow-test {{if isExpanded 'expanded'}}">&#10095;</span></a>
    {{else}}
      <span class="arrow arrow-test">&#10095;</span>
    {{/if}}

    <span class="test-title">
      {{#link-to (query-params test=test.testId)}}{{test.title}}{{/link-to}}
    </span>
    <span class="assertion-count">
      {{#if test.total}}
        ({{test.total}})
      {{/if}}
    </span>
  </h4>

  {{#if isExpanded}}
    <ol class="results-assertions">
      {{#each test.assertions as |assertion|}}
        <li class="assertion {{if assertion.result 'passed' 'failed'}}">
          {{assertion-results assertion=assertion}}
        </li>
      {{/each}}
    </ol>
  {{/if}}
</li>